BOOKSVC_IMAGE=yourregistry.azurecr.io/books-service-rust:replace-with-version-tag
BOOKSVC_HTTP_ADDRESS=:8080
BOOKSVC_DATABASE_CONNECTION_STRING=postgres://db_user:db_password@your-postgres.postgres.database.azure.com:5432/webbench?sslmode=require
BOOKSVC_DATABASE_MAX_CONNECTIONS=10
BOOKSVC_TELEMETRY_ENABLED=true
BOOKSVC_TELEMETRY_SERVICE_NAME=books-service
BOOKSVC_TELEMETRY_ENVIRONMENT=azure-vm
BOOKSVC_TELEMETRY_OTLP_ENDPOINT=otel-collector:4318
APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=replace-me;IngestionEndpoint=https://replace-me.in.applicationinsights.azure.com/
