API_IMAGE=yourregistry.azurecr.io/rust-backend-service:replace-with-version-tag

APP__SERVER__HOST=0.0.0.0
APP__SERVER__PORT=8080
APP__DATABASE__CONNECTION_STRING=postgres://db_user:db_password@your-postgres.postgres.database.azure.com:5432/library?sslmode=require
APP__DATABASE__MAX_CONNECTIONS=10
APP__DATABASE__RUN_MIGRATIONS_ON_STARTUP=false
APP__OBSERVABILITY__SERVICE_NAME=rust_backend_service
APP__OBSERVABILITY__ENVIRONMENT=production
APP__OBSERVABILITY__LOG_FILTER=info,rust_backend_service=debug,tower_http=info
APP__OBSERVABILITY__APPLICATION_INSIGHTS_CONNECTION_STRING=InstrumentationKey=replace-me;IngestionEndpoint=https://replace-me.in.applicationinsights.azure.com/
