POSTGRES_DB=books_simple
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-local-postgres-password
LOCAL_DATABASE_CONNECTION_STRING=postgres://postgres:change-me-local-postgres-password@postgres:5432/books_simple?sslmode=disable

BOOKSVC_IMAGE=your-registry.azurecr.io/books-service-golang-simple:latest
BOOKSVC_HTTP_ADDRESS=:8080
BOOKSVC_DATABASE_CONNECTION_STRING=postgres://user:password@your-managed-postgres-host:5432/books_simple?sslmode=require
BOOKSVC_DATABASE_MAX_CONNECTIONS=10
BOOKSVC_SERVICE_NAME=books-service
MIGRATIONS_DATABASE_CONNECTION_STRING=postgres://user:password@your-managed-postgres-host:5432/books_simple?sslmode=require
