POSTGRES_DB=books_simple
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-local-postgres-password
LOCAL_DATABASE_CONNECTION_STRING=postgres://postgres:change-me-local-postgres-password@postgres:5432/books_simple?sslmode=disable

ACR_LOGIN_SERVER=your-acr-name.azurecr.io
IMAGE_NAME=books-service-golang-simple
IMAGE_TAG=latest
DOCKERFILE_PATH=Dockerfile
BUILD_CONTEXT=.
BOOKSVC_HTTP_ADDRESS=:8080
BOOKSVC_DATABASE_CONNECTION_STRING=postgres://user:password@your-managed-postgres-host:5432/books_simple?sslmode=require
BOOKSVC_DATABASE_MAX_CONNECTIONS=10
BOOKSVC_SERVICE_NAME=books-service
MIGRATIONS_DATABASE_CONNECTION_STRING=postgres://user:password@your-managed-postgres-host:5432/books_simple?sslmode=require

VM_IP=127.0.0.1
VM_USER=azureuser
REMOTE_DIR=/opt/books-service-golang-simple
PUBLIC_HTTPS_PORT=443
